{% extends 'base.html' %}


{% block main %}

  <div>
    <div class="content-section">
        <form method="POST"> {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Cadastrar Cliente</legend>
                <div class="pure-control-group">

                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" >
                  </div>
                  <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" >
                  </div>
                  <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" class="form-control" id="endereco" name="endereco" >
                  </div>

                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Salvar</button>
            </div>
        </form>
    </div>
  </div>

{% endblock %}