{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}- Read{% endblock title %}

{% block main %}
<div class="content-section">
    <form method="GET">

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Vizualizar personagem</legend>

            <div id="div_tabela_id" class="form-group">
                <label for="table_id" class="col-form-label  requiredField">
                    Tabela
                </label>
                <div>
                    <select name="table" id="tabela_id" class="selectmultiple form-control" required="required">
                    <option value="viloes">Vilões</option>
                    <option value="herois">Heróis</option>
                    </select>
                </div>
            </div>
            <div class="pure-control-group">
                <label for="tabela_id" class="col-form-label">
                    Identificador
                </label>
                <input
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Identificador do personagem"
                    aria-label="Search"
                    name='search'
                    value="{{search_term}}">
            </div>
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-success" type="submit">Confirmar</button>
        </div>

    </form>
    <div>
    {% if resultados %}
        {% for linha in resultados %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">XP</th>
                    <th scope="col">Habilidade</th>
                    <th scope="col">Poder</th>
                </tr>
                </thead>
            <tbody>
                <tr>
                    <td>{{linha.id}}</td>
                    <td>{{linha.nome}}</td>
                    <td>{{linha.xp}}</td>
                    <td>{{linha.habilidade}}</td>
                    <td>{{linha.poder}}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock main %}