{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}- Atualizar{% endblock title %}
    

{% block main %}

<div class="content-section">
    <form method="POST">
        <fieldset class="form-group"> {% csrf_token %}
            <legend class="border-bottom mb-4">
                Atualizar {% if personagem %}- {{ personagem.nome }} {% endif %}
            </legend>

            <div class="pure-control-group">
                <div id="div_tabela_id" class="form-group">
                    <label for="table_id" class="col-form-label  requiredField">
                        Tabela
                    </label>
                <div>
                    <select name="table" id="tabela_id" class="selectmultiple form-control" required="required">
                    <option value="viloes">Vilões</option>
                    <option value="herois">Heróis</option>
                    </select>
                </div>
            </div>

            {{ form|crispy }}

            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-success" type="submit">Confirmar</button>
        </div>
    </form>
</div>

{% endblock main %}